main form {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

main form h2 {
  margin-block: 0;
}

main form .fields {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

main form .inline {
  display: flex;
  flex-flow: row wrap;
}

main form label {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  max-width: max-content;
  height: 100%;
}

main form label > :is(input, select, textarea) {
  font-size: 1rem;
}

main form :is(input, select, textarea) {
  outline: 0;
  background-color: var(--c12);
  border: 1px solid var(--c24);
  border-radius: 0.3rem;
  color: var(--fg);
  padding: 0.5rem 1rem;
  width: 100%;
  height: 2.5rem;
  transition: border-color 125ms;
  opacity: 0.9;
}

main form :is(input, select, textarea):hover {
  border-color: var(--c48);
}

main form :is(input, select, textarea):focus {
  border-color: var(--pri);
}

main form :is(input, select, textarea).error {
  border-color: var(--err);
}

main form button {
  background-color: var(--bg);
  border: 1px solid var(--pri);
  border-radius: 0.3rem;
  font-weight: 500;
  color: var(--fg);
  padding: 0.5rem 1rem;
  transition:
    background-color 125ms,
    border-color 250ms;
}

main form button:is(:hover, :focus-visible) {
  background-color: var(--pri);
  border-color: var(--pri);
}

main form button:active {
  border-color: var(--fg);
  transition: none;
}

main form button.error {
  border-color: var(--err);
  color: var(--err);
}

main form button.error:is(:hover, :focus-visible) {
  background-color: var(--err);
  color: var(--white);
}

main form button.error:active {
  border-color: var(--fg);
  transition: none;
}
