@import './FormValidator.css';
@import './form.css';

main {
  flex: 1;
  display: flex;
  flex-flow: column;
  margin: 2rem 4rem;
  height: 100%;
}

main > .title {
  margin-block: 2rem;
}

main > .title h1 {
  margin-block: 0 1rem;
}

main .solutions {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

main .solutions > li {
  display: block;
  background-color: var(--c12);
  border: 1px solid var(--c24);
  border-radius: 0.5rem;
  padding: 2rem;
  transition: border-color 125ms;
}

main .solutions > li:hover {
  border-color: var(--c48);
}

main .solutions > li:nth-child(2) {
  background-color: var(--c24);
  border: 1px solid var(--c48);
}

main .solutions > li h2 {
  margin: 0;
}

main .solutions > li .title {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

main .solutions > li .score {
  background-color: var(--c72);
  border-radius: 0.3rem;
  font-weight: bold;
  color: var(--bg);
  padding: 0.25rem 0.5rem;
}

main .solutions > li p {
  margin-top: 0;
}

main .solutions > li ol {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  gap: 2px;
}

@property --swatch-size {
  syntax: '<resolution>';
  inherits: false;
  initial-value: 30px;
}

main .solutions > li ol li {
  display: block;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
  width: var(--swatch-size);
  height: var(--swatch-size);
  transition:
    border-radius 125ms ease-out,
    box-shadow 125ms ease-out,
    transform 125ms ease-out;
}

main .solutions > li ol li:hover {
  border-radius: 25%;
  box-shadow: 0 0 0.5rem var(--c12);
  transform: scale(1.5);
  z-index: 1;
}

main .solutions > li.separator-after {
  margin-bottom: 3rem;
}

@media (max-width: 50em) {
  main {
    margin: 2rem;
  }
}

@media (max-width: 40em) {
  main {
    margin: 2rem 1rem;
  }
}
